body {
    background-image: url("../images/bg2.png");
}
h1{
    color:whitesmoke
}
label{
    color:whitesmoke
}
.col-centered{
    float: none;
    margin: 0 auto;
}
.buffer { 
    margin-top: 10%;
}
.jumbotron{
    background: #410304;
    width: 100%;
}
input{
    border-radius: 25px;
    background: white; 
    width: 100%;
}
button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    outline:none;
}
a.breed{
    color:white;
}
